<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: black;
      }
      h1 {
        color: blue;
      }
      .something {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: green;
        background-color: 00ee0e;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="something">
      <div>
        <h1>Template something something!</h1>
        <p>Template something something!</p>
        <p>Template something something!</p>
        <p>Template something something!</p>
      </div>
    </div>
  </body>
</html>
